/* PostList component */
.PostsList {
    max-width: 100%;
    width: min(470px, 100vw);
}

/* PostCard component */
.PostCard {
    font-size: 14px;
    padding-bottom: 1em;
    border-bottom: 1px solid #e1e1e1;
}

.Description {
    display: flex;
}

/* AutorHeader component */
.PostCardHeader {
    display: flex;
    align-items: center;
    padding: 1em 0 1em 0.2em;
}

.PostCardHeader .ProfilePic {
    border-radius: 25px;
    width: 2em;
    height: 2em;
    margin-right: 0.75em;
}

.headerDetails {
    flex-grow: 1;
}

.headerDetails div {
    display: flex;
    align-items: center;
}

.timePassed {
    color: gray;
}

.followingBtn {
    color: #0095F6;
    font-weight: 600;
}

.headerDetails span {
    font-size: 0.75rem;
}

.headerSeparator {
    width: 1em;
    height: 1em;
    margin: 0 0.1em;
}

.dotsMenu {
    width: 2em;
    height: 1em;
    cursor: pointer;
    transform: scale(1.3);
}

/* ContentGallery component */
.ContentGallery {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #8c8c8c4a;
}

.galleryContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.galleryContainer::-webkit-scrollbar {
    display: none;
}

.galleryContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contentWrapper {
    position: relative;
    min-width: 100%;
    scroll-snap-align: start;
}

.contentWrapper img,
.contentWrapper video {
    layout: fill;
    object-fit: cover
}

.scrollButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    z-index: 2;
    padding: 0.5rem 1rem;
    font-size: 2.2em;
}

.dotsPagination {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    bottom: 2em;
    height: 0;
}

.dot {
    border-radius: 25px;
    width: 0.4em;
    height: 0.4em;
    margin: 0 0.25em;
    background-color: rgba(217, 217, 217, 0.7);
}

.dot.active {
    background-color: #e0e0e0;
}

/* Video component */
.Video {
    cursor: pointer;
}

.muteBtn {
    height: 0;
}

.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    fill: rgba(255, 255, 255, 0.75);
}

.muteBtn svg {
    position: absolute;
    bottom: 6%;
    right: 4%;
    width: 2em;
    height: 2em;
}

/* PostButtons component */
.BtnContainer {
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0;
}

.BtnContainer button {
    margin-right: 0.8em;
}

.BtnContainer button:last-child {
    margin: 0;
}

.BtnContainer svg {
    transition: color 0.5s ease;
}

.BtnContainer svg {
    width: 2em;
    height: 2em;
}

@keyframes like {
    50% {
        transform: scale(1.3)
    }
    100% {
        transform: scale(1)
    }
}

.like {
    transition: transform ease-in 0.3s;
}

.like.liked {
    animation-name: like;
    animation-duration: 0.3s;
}

/* CommentsShort component */
.addComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3em;
}

.addComment div {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.addComment button {
    color: #0095F6;
    font-weight: 600;
}

.addComment button:disabled {
    color: rgb(179, 219, 255, 1);
}

.addComment textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 1em;
}

.addComment svg {
    width: 0.75em;
    height: 0.75em;
}

.commentsLink {
    color: gray;
    cursor: pointer;
}

.commentsLink p {
    margin-top: 0.3em;
}

/* Comment component*/
.Comment {
    display: flex;
    margin: 0.8em 0;
}

.commentContainer {
    display: flex;
    justify-content: space-between;
}

.commentActions > * {
    margin-right: 1em;
}

.commentActions,
.replyToggle {
    font-size: 0.8rem;
}

.commentActions button {
    font-weight: 600;
}

.commentActions,
.commentActions g,
.replyToggle {
    color: gray;
    fill: gray;
    stroke: #c5c5c5;
}

.commentActions {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.replyToggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 3em;
}

.replyToggle svg {
    width: 2em;
    height: 1em;
    margin-right: 0.3em;
}

.replyToggle img {
    width: 2.5em;
    height: 2.5em;
}

.moreActions {
    width: 1.3em;
    height: 1.3em;
    color: rgba(219, 219, 219, 1);
    cursor: pointer;
    visibility: hidden;
}

.commentContainer:hover .moreActions {
    visibility: visible;
}

.commentLike {
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 0.5em;
}