/* Components Sidebar */
.Sidebar {
    display: none;
    background-color: white;
    border-right: 0.5px solid #dadde1;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    padding: 0.5em 0.75em 1.2em 0.75em;
    flex-direction: column;
    justify-content: space-between;
}

.logo,
.logoFull {
    margin: 1.7em 0 0 0.6em;
    height: auto;
}

.logo {
    width: 1.5em;
    margin-bottom: 2.5em;
    margin-left: 1em;
}

.logoFull {
    width: 6.8em;
    margin-bottom: 1.5em;
    display: none;
}

/* Component Link */
.Link {
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.85em;
    margin: 0.15em auto;
    transition: background-color 1ms ease, width 1ms ease;
}

.Link img,
.Link svg {
    transition: transform 200ms ease;
}

.Link svg {
    width: 1.4em;
    height: 1.4em;
}

.Link img {
    border-radius: 25px;
}

.more {
    transform: scale(1.5) !important;
}

.Link p {
    padding-left: 1.2em;
}

.Link:hover {
    background-color: rgb(242 242 242);;
}

.Link:hover svg,
.Link:hover img {
    transform: scale(1.1);
}

.Link:hover .more {
    transform: scale(1.6) !important;
}

.linkLabel {
    display: none;
}

.threads {
    display: none;
}

/* Styles for tablets in portrait mode */
@media (min-width: 768px) {
    .Sidebar {
        display: flex;
    }
}

@media (min-width: 1260px) {
    .logo {
        display: none;
    }

    .logoFull {
        display: inline;
    }

    .linkLabel {
        display: inline;
    }
}

@media (min-height: 620px) {
    .threads {
        display: flex;
    }
}